html {
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
}

.first-section {
    background: url("../img/boks.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    height: 69.2rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: .1rem solid #ffffff;
    border-bottom: .1rem solid #ffffff;
    min-width: 361px;

}

.first-section-container, .second-section-container, .third-section-container {
    color: #ffffff;
    text-align: center;
    padding-top: 12rem;
    max-width: 90rem;
    margin: 0 auto;
}

.first-title-heading, .second-title-heading, .third-title-heading {
    font-size: 4.5rem;
    line-height: 1.07143;
    color: gold;
}

.first-description, .second-description, .our-advantages, .our-opportunities {
    font-size: 1.8rem;
    margin-top: .6rem;
}

.second-section {
    background: url("../img/basketball.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-section-container {
    padding-top: 10rem;
}

.our-advantages, .our-opportunities {
    color: #ffffff;
}

.first-advantage, .second-advantage, .third-advantage, .fourth-advantage,
.fifth-advantage, .first-opportunity, .second-opportunity,
.third-opportunity, .fourth-opportunity {
    line-height: 3;
}

.third-section {
    background: url("../img/football.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 930px) {
    .first-title-heading, .second-title-heading, .third-title-heading {
        font-size: 3.5rem;
    }

    .first-description, .second-description, .our-advantages, .our-opportunities{
        font-size: 1.7rem;
    }

    .first-section-container, .second-section-container, .third-section-container {
        max-width: 85%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 550px){
    .first-title-heading, .second-title-heading, .third-title-heading {
        font-size: 2.8rem;
    }

    .first-description, .second-description, .our-advantages, .our-opportunities{
        font-size: 1.2rem;
    }

    .first-section-container, .second-section-container, .third-section-container {
        max-width: 80%;
        margin: 0 auto;
    }
}